body {
    background: #131f33
}

.timeline-area {
    margin: 90px auto;
    width: 360px;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px;
}

div {
    background-color: #fff;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    position: 110px;
    margin-bottom: 20px;
}

div:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -40px;
}

div:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}

div h2 {
    margin: 0;
    text-transform: uppercase;
    font-family: poppins;
}

div h3 {
    margin: 0;
    font-family: poppins;
}

div h4 {
    margin: 0;
    font-family: poppins;
}